<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <ioc>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.IoC.RegisterVariantsAbstractionsServices, Sitecore.XA.Foundation.Variants.Abstractions']" type="Sitecore.Support.XA.Foundation.Variants.Abstractions.Pipelines.IoC.RegisterVariantsAbstractionsServices, Sitecore.Support.9501" />
      </ioc>
    </pipelines>
  </sitecore>
</configuration>